@import url(./font.css);

:root {
    --poppins: "Poppins";
    --Open_Sans: "Open_Sans";
    --white: #fff;
    --header-bg: #00252E;
    --bg-button: #684BB1;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-button);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    width: 1440px;
    padding-left: 80px;
    padding-right: 80px;
}

a {
    text-decoration: none;
}


main {
    margin-top: 104px;
}

.header-logo {

}
.logo{
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
}

.element {
    width: 56px;
    height: 56px;
    transform: rotate(45deg);
    border-radius: 3px;
    opacity: 0.5034;
    background: linear-gradient(139deg, #FF52C1 12.83%, #9952FF 145.72%);
}

.main-huddle-site-layout {
    position: relative;
}

.desktop-layout {
    width: 658px;
    border-radius: 14px;
    box-shadow: 0px 0px 7px 0px rgba(0, 37, 46, 0.18);
}

.container-layout {
    width: 564px;
    margin: auto;
}

.site-nav {
    background: var(--header-bg);
    width: 100%;
    height: 44px;
    border-radius: 13.701px 13.701px 0px 0px;
    display: flex;
    justify-content: space-between;
}

.nav-search {
    border-radius: 3.425px;
    background: #E1E8EE;
    width: 137px;
    display: flex;
    flex-direction: column;

}

.one {
    display: flex;
    justify-content: space-between;
}

.nav-menu {
    padding-left: 15px;
    display: flex;
    justify-content: space-between;

}

.sl-header-group {
    background: var(--white);
    border-radius: 0 0 0 13.701px;
}

.group {
    display: flex;
    padding-top: 50.67px;
    align-items: center;
}

.group-oval {
    padding-right: 38.36px;

}

.oval-image {
    width: 65.764px;
    height: 65.733px;
}

.group-rectangle {
    display: flex;
    flex-direction: column;
    margin-right: 32.88px;
}

.rectangle-1 {
    width: 78.78px;
    height: 10.956px;
    border-radius: 2.055px;
    background: #E1E8EE;
    margin-bottom: 11px;
}

.rectangle-2 {
    width: 274.016px;
    height: 5.478px;
    border-radius: 2.055px;
    background: #E1E8EE;
    margin-bottom: 5.48px;
}

.rectangle-3 {
    width: 251.181px;
    height: 5.478px;
    border-radius: 2.055px;
    background: #E1E8EE;
    margin-bottom: 5.48px;
}

.rectangle-4 {
    width: 228.346px;
    height: 5.478px;
    border-radius: 2.055px;
    background: #E1E8EE;
    margin-bottom: 8.22px;
}

.bottom {
    padding-bottom: 63px;
}

.mobile-layout {
    width: 220px;
    position: absolute;
    top: 142px;
    left: 476px;
}

.site-nav-mobile {
    width: 220px;
    height: 38px;
    background-color: var(--header-bg);
    border-radius: 13.701px 13.701px 0 0;
    padding-top: 12px;
}

.container-mobile {
    width: 174px;
    margin: auto;
}

.mobile-main {
    padding-top: 36px;
    width: 220px;
    background-color: var(--white);
    border-radius: 0 0 13.701px 13.701px;
}

.mobile-rectangle-8 {
    padding-bottom: 36px;
}

.rectangle {
    display: flex;
    flex-direction: column;
    row-gap: 10.96px;
}

.main {
    display: flex;
}

.main-huddle-text {
    margin-top: 32px;
    margin-left: 98px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.huddle-line {
    color: var(--white);
    font-family: var(--poppins);
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    max-width: 487px;
    width: 100%;
}

.main-text {
    color: var(--white);
    font-family: var(--Open_Sans);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    max-width: 520px;
    width: 100%;
}

.button {
    width: 200px;
    height: 56px;
    border-radius: 28px;
    background: var(--white);
    border: none;
}

.btn {
    color: var(--bg-button);
    font-family: var(--poppins);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    padding: 13px 63px 16px 64px;

}

.button:active,
.btn:active {
    cursor: pointer;
    background: #E880E8;
    border-radius: 28px;
    box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.26);
    color: var(--white);
}

.footer-link {
    margin-top: 120px;
    display: flex;
    justify-content: end;
    margin-bottom: 40px;
}

.link {
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    color: var(--white);
    transition: .5s;
}

.link:hover {
    color: #FF52C1;
    border-color: #FF52C1;
}